@import url("https://fonts.googleapis.com/css2?family=Anonymous+Pro&family=Fira+Mono&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Red+Hat+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  font-family: "Montserrat" -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  font-family: "Nunito";
  margin: 0;
  padding: 0;
}

.ant-input-affix-wrapper > input.ant-input {
  font-family: "Montserrat";
  font-weight: 500;
}
